h1 {
	margin-top: 5%;
	margin-left: 2%;
	font-family: Verdana;
  	font-size: 25px;
	text-align: left;
	color: #F4B41A;
}

h2 {
	margin-left: 10px;
	font-family: Verdana;
  	font-size: 16px;
	text-align: left;
	color:#143D59;
}

h3 {
	margin-left: 10px;
	margin-left: 2%;
	font-family: Verdana;
  	font-size: 13px;
	text-align: left;
}

p {
	margin-left: 3%;
	margin-right: 3%;
	font-family: Verdana;
    font-size: 0.75em;
    word-wrap: break-word;
	text-align: justify;
	color: #143D59;
}

a {
	text-decoration: none;
	font-family: Verdana;
	font-size: 11px;
	padding: 5px;
}

.embla {
	overflow: hidden;
  }
  
  .embla__container {
	display: flex;
  }
  
  .embla__slide {
	position: relative; 
	flex: 0 0 100%; 
  }

  .highlight {
	color:white;
	background-color: #091f2e;
 }

#button_login span {
  cursor: pointer;
  transition: 0s;
}

#button_login:hover {
  background-color:#F4B41A;
  color: #143D59;
}

#button_register:hover {
	background-color:#F4B41A;
	color: #143D59;
}

#button_letsGo:hover {
	background-color:#F4B41A;
	color: #143D59;
}

#img_aboutUs_slider {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
}

#Card_Team {	
	margin: 2%;
	border-color: #143D59;
	border-radius: 10pt;
	border-style: solid;
	border-width: .5pt;
	border-color: #143D59;
}

#aboutUs_header {
	background-color: #F4B41A;
	border-radius: 10pt;
	border-color: #143D59;
	border-style: solid;
	border-width: .5pt;
}

#img_logo {
	transition: transform 0.7s;
   }

#img_logo:hover {
	transform: rotate(360deg);
	cursor: pointer
}
