h1 {
	margin-top: 5%;
	margin-left: 2%;
	font-family: Verdana;
  	font-size: 18px;
	text-align: left;
	color:#F4B41A;
}

h2 {
	margin-left: 10px;
	font-family: Verdana;
  	font-size: 16px;
	text-align: left;
	color:#143D59;
}

p {
	margin-left: 3%;
	margin-right: 3%;
	font-family: Verdana;
      font-size: 0.75em;
      word-wrap: break-word;
	text-align: justify;
	color: #143D59;
}

a {
	text-decoration: none;
	font-family: Verdana;
	font-size: 11px;
	padding: 5px;
}

.embla {
	overflow: hidden;
  }
  
  .embla__container {
	display: flex;
  }
  
  .embla__slide {
	position: relative; 
	flex: 0 0 100%; 
  }

  .highlight {
	color:red;
	background-color: #143D59;
 }

