h1 {
	margin-top: 5%;
	margin-left: 2%;
	font-family: Verdana;
  	font-size: 18px;
	text-align: left;
	color:#F4B41A;
}

h2 {
	margin-left: 10px;
	font-family: Verdana;
  	font-size: 16px;
	text-align: left;
	color:#143D59;
}

p {
	margin-left: 3%;
	margin-right: 3%;
	font-family: Verdana;
  	font-size: 12px;
	text-align: justify;
	color: #143D59;
}

a {
	text-decoration: none;
	font-family: Verdana;
	font-size: 11px;
	color: white;
	padding: 5px;
}

/* ALL - Footer*/
.footer {
	overflow: auto;
	background: #143D59;
	border: 1px solid black;
	border-color:#F4B41A;
    position: fixed;
    padding: 30px;
    bottom: 0;
    left: 0;
    right: 0;
	font-family: Verdana;
	font-size: 10px;
}

.header {
	overflow: hidden;
	background: #F40410;
  }


/* LOGIN PAGE */
/* LOGIN PAGE - Text*/




/* LOGIN PAGE - Buttons*/
#login_box button {
	/*width: 130px;*/
  	height: 35px;
  	margin-bottom: 20px;
  	padding: 0 15px;
	font-size: 14px;
}

#button_selbststaendiger {
	position: absolute;
	top: -2%;
	left: 5%;
	width: 20%;
	border: 1px solid #143D59;
	color: #143D59;
}

#button_unternehmen {
	position: absolute;
	top:-2%;
	left:25%;
	background-color: #143D59;
	border: 1px solid #143D59;
	color: #F4B41A;
}

#button_selbststaendiger:hover {
	background-color: #F4B41A;
	color: #143D59;
}

#button_unternehmen:hover {
	background-color: #F4B41A;
	color: #143D59;
}

#button_login {
    /*border-radius: 4px;*/
    background-color: #FFFFFF;
    border: 1px #143D59;
    color: #143D59;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
	/*position: absolute;
	top: 275px;
	left: 87px;*/
}

#button_login span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#button_login span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#button_login:hover span{
  padding-right:25px;
}

#button_login:hover {
  padding-right:20px;
  background-color:#143D59;
  color: #F4B41A;
}

#button_login:hover span:after {
  opacity: 1;
  right: 0;
}

#login_box [id="button_register"] {
	width: 100px;
  	height: 20px;
	border-radius: 4px;
    background-color: #F4B41A;
    border: none;
    color: #143D59;
    text-align: center;
    font-size: 8px;
    padding: 4px;
    margin: 5px;
	/*position: absolute;
	top: 290px;
	left: 230px;*/
}

/* LOGIN PAGE - Form*/
#login form label [id="picture_company"] {
  	position: absolute;
	border-radius: 4px;
	top: 78px;
	left: 61px;
  	width: 30px;
  	height: 30px;
  	background-color: #F4B41A;
  	color: #ffffff;
}

#login form label [id="picture_user"] {
  	position: absolute;
	border-radius: 4px;
	top: 128px;
	left: 61px;
  	width: 30px;
  	height: 30px;
  	background-color: #F4B41A;
  	color: #ffffff;
}

#login form label [id="picture_password"] {
	position: absolute;
	border-radius: 4px;
	top: 178px;
	left: 61px;
  	width: 30px;
  	height: 30px;
  	background-color: #F4B41A;
  	color: #ffffff;
}

#login form input[id="company_name"] {
	position: absolute;
	top:90px;
	left:90px;
	width: 200px;
  	height: 30px;
  	border: 1px solid #dee0e4;
  	padding: 0 15px;
}

#login form input[id="username"] {
	position: absolute;
	top:140px;
	left:90px;
	width: 200px;
  	height: 30px;
  	border: 1px solid #dee0e4;
  	padding: 0 15px;
}

#login form input[id="password"] {
	position: absolute;
	top:190px;
	left:90px;
  	width: 200px;
  	height: 30px;
  	border: 1px solid #dee0e4;
  	padding: 0 15px;
}

/* LOGIN PAGE - Pictures*/
#company_icon {
	position: absolute;
	top: 98px;
	left: 66px;
	width: 20px; 
	height: 20px; 
}

#mail_icon {
	position: absolute;
	top: 145px;
	left: 66px;
	width: 20px; 
	height: 20px; 
}

#passwort_icon {
	position: absolute;
	top: 195px;
	left: 66px;
	width: 20px; 
	height: 20px; 
}

/* LOGIN PAGE - Links*/


#passwort_vergessen {
	font-size: 8px;
	position: absolute;
	text-decoration-line: underline;
	top: 315px;
	left: 90px;
}

/* MAIN PAGE */
/* MAIN PAGE - Header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* MAIN PAGE - Nav */
.topnav {
  overflow: hidden;
  background-color: #F4B41A;
}

.topnav img {
 
  display: block;
  color: #f2f2f2;
  text-align: center;
 /*  padding: 14px 16px;
  text-decoration: none;
  width: 150px;
  height: 75px; */
}

/* MAIN PAGE - 3 Bars */
.leftbar {
	overflow: auto;
	float: left;
	width: 15%;
	background: #f2f2f2;
	border: 1px solid black;
	border-color:#F4B41A;
	height: 470px;
	font-family: Verdana;
	font-size: 10px;
}

.middle {
	overflow: auto;
	float: left;
	width: 70%;
	height: 450px;
	font-family: Verdana;
	font-size: 10px;
}

.rightbar {
	overflow: auto;
	float: left;
	width: 15%;
	background: #f2f2f2;
	border: 1px solid black;
	border-color:#F4B41A;
	height: 470px;
	font-family: Verdana;
	font-size: 10px;
}

#mainPageTopProjects {
	margin-top:35px;
	text-align: center;
}

/* MAIN PAGE - Buttons */
.row button {
	background-color: #F4B41A;
	border: 1px solid #143D59;
	color: #143D59;
	margin-top: 10px;
	margin-bottom: 25px;
	margin-left: 20px;
	font-size: 15px;
	width: 120px;
	height:30px;
}

.row button:hover {
	background-color: #143D59;
	color: #F4B41A;
}

/* MAIN PAGE - Texte */
span {
	margin-top: 5px;
	margin-left: 20px;
}

#ueberschrift_main {
	color: #143D59;
	font-size: 11px;
	padding-top: 10px;
}

.leftbar li {
	padding:4px;
	font-size: 9px;
}

.rightbar li {
	padding:4px;
	font-size: 9px;
}

#logotext {
	float: left;
	margin-top: 12px;
	font-style: italic;
	font-size: 13px;
}

/* MAIN PAGE - Listen */

#ul_project { 
list-style-type:none;
}

#ul_project li::before { 
    color:red; 
    font-size: 10px;
    content: "♥ "; 
}

/* LOGIN PAGE - Pictures*/
#logo {
	float:left;
	margin-top:2px;
	margin-left:20px;
	width: 50px; 
	height: 40px; 
}

#userprofilepicture {
	padding-top:9px;
	padding-right: 20px;
	float:right;
	width: 44px; 
	height: 37px; 
}

#menu {
	padding-top:15px;
	float:right;
	width: 25px; 
	height: 30px; 
	margin-right: 15px;
}

.embla {
	overflow: hidden;
  }
  
  .embla__container {
	display: flex;
  }
  
  .embla__slide {
	position: relative; 
	flex: 0 0 100%; 
  }


/* MAIN PAGE - FREI */
	